@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Fjalla+One&family=Inclusive+Sans:ital@0;1&family=Montserrat:ital,wght@0,100;0,400;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-up-o.css');
/* ######################################################################################################
R E S E T
###################################################################################################### */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
   font-family: "Montserrat", sans-serif;
}

.wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  border-bottom: solid;
  border-bottom-width: 8px;
  border-color: #4062bb;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}

.texto-aqua {
  color: #64CCC5;
} 
/* ######################################################################################################
H E A D E R
###################################################################################################### */

header {
    background-color: #4873c4;
    /* outline: 3px solid orange; */
    padding-bottom: 40px;
}

.wrapper {
    margin: 0px 250px;
}

.primary-nav {
    display: flex;
    justify-content: space-between;
    /* outline: 3px solid red; */
    padding-top: 50px;
}

.logo {
    display: block;
    width: 178px;
}

.primary-nav ul{
    display: flex;
    gap: 30px;
}
.primary-nav li{
    list-style: none;
}

.primary-nav a {
    text-decoration: none;
    color: white;
}

.primary-nav img:hover {
  transform: scale(1.2);
  transition: all 0.2s;
}

.titulo {
  margin: 100px 100px 25px 100px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  
}

.miembros {
padding-top: 80px;
}

.titulo p {
    font-size: small;
    font-weight: 400;
}

/* ######################################################################################################
C O N T E N T
###################################################################################################### */

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin: 50px 0px;
}

.work {
  background-color: #f8f8f8fa;
  border-radius: 10px;
  text-align: center;
}

.work a{
  text-decoration: none;
  color: black;
}

.work:hover {
  background-color: #eaeaea;
  transform: scale(1.03);
  transition: all 0.2s;
}

.work p {
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding: 20px;
}

.work img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* ######################################################################################################
F O O T E R
###################################################################################################### */

footer {
  background-color: #4873c4;
  position: relative;
  bottom: 0px;
  text-align: center;
  color: white;
  padding: 20px;
  z-index: 9;
  font-family: 'Fjalla One', sans-serif;
}





