@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
/* ###################################################################################################
R E S E T
################################################################################################### */
:root { 
  --clr-foreground: white;
  --clr-primary: #231f21;
  --clr-accent: #fdbdbd;
  --clr-dark: #090909;
  --clr-gradient: linear-gradient(to right, #210c0f 0%,  #eeedf2 33%, #eef1f3 66%, #534360 100%);

  --ff-primary: 'Roboto Mono', monospace;
  
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi: 500;
  --fw-bold: 700;

  --fs-300: .875rem;
  --fs-400: 1rem;
  --fs-500: calc(var(--fs-400)*1.2);
  --fs-700: 1.5rem;
  --fs-900: 2.5rem;

  --border-title: 1px solid white;
  --bd-radius: 10px;
  
  --shadow-dark: 0 0 2em var(--clr-primary);
}

.primary-title { font-size: var(--fs-900); font-weight: var(--fw-bold); color: var(--clr-foreground); font-family: var(--ff-heading);}
.secundary-title { font-size: var(--fs-700); color: var(--clr-foreground);}
.terciary-title {font-size: var(--fs-500); color: var(--clr-foreground);}
.fs-regular {font-size: var(--fs-400);}
.fw-bold {font-weight: var(--fw-bold);}
.mayus {text-transform: uppercase;}
.center {text-align: center;}


/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body{
  /* height: 100%; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}

main {
   flex: 1;
  }

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
  color: var(--clr-foreground);
}

p,
a {
  font-family: var(--ff-body);
}

p {
  padding: 16px 0px;
}

.flow > * + * {
  margin-top: 3em;
}
/* ###################################################################################################
H E A D E R
################################################################################################### */

.module {
  background: var(--clr-primary);
  color: white;
  padding: 2rem;
}

.module-border-wrap {
  background: var(--clr-gradient);
  padding-bottom: 6px;
  position: relative;
  bottom: 0px;
}

.navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-right: 20px;
  
}

.module-border-wrap-top {
  background: var(--clr-gradient);
  padding-top: 6px;
}


.navegacion img{
  width: 100px;
  border-radius: 100px;
}

.navegacion img:hover{
  transform: scale(1.2);
  transition: all 0.2s;
}

.navegacion ul {
  list-style: none;
}

.navegacion ul li a:hover {
  color: var(--clr-accent);
  transition: all 0.2s;
  border-bottom: #141E46;
}

@media (max-width: 50em) {
  .navegacion{
    display: grid;
    /* grid-template-columns: repeat(1,); */
    gap: 3em;
    /* outline: 3px solid greenyellow; */
  }

  .navegacion a:nth-child(2){
    /* outline: 3px solid pink; */
    grid-row: 1;
  }

}

/* ###################################################################################################
M A I N
################################################################################################### */


.barry {
  background-color: #5e5e5e;
  background-image: url("../imagenes/sistemasoperativos.png");
  background-attachment: fixed;
  background-blend-mode: multiply;
  color: var(--clr-foreground); 
  background-position: center;
  
}



.autor {
  text-align: center;
  font-size: var(--fs-regular);
  color: var(--clr-accent);
  font-weight: var(--fw-regular);
  text-transform: uppercase;
  margin-bottom: 50px;
}

main h3{
  padding-top: 20px;
  border-top: var(--border-title);
  font-size: var(--fs-700);
  font-weight: var(--fw-regular);
  text-transform: uppercase;
  font-family: var(--ff-heading);
}

/* #############################
G R I D */
main {
  background-color: var(--clr-dark);
}
.wrapper {
  --max-width: 1110px;
  --padding: 1rem;
  
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
  padding-block: 3em;
}

.tiny-box {
  background-color: var(--clr-primary);
  text-align: center;
  text-transform: uppercase;
  box-shadow: var(--shadow-dark);
}

.tiny-box:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}

@media (min-width: 50em) {
  .box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding-top: 50px;
  }
}

/* ###################################################################################################
F O O T E R
################################################################################################### */

footer {
  background-color: var(--clr-primary);
  text-align: center;
  color: var(--clr-foreground);
  font-size: var(--fs-regular);

}
