@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Fjalla+One&family=Inclusive+Sans:ital@0;1&family=Montserrat:ital,wght@0,100;0,400;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:wght@400;500;600;700&display=swap');
/* ###################################################################################################
R E S E T
################################################################################################### */
ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: white;
  /* font-family: 'Poppins', sans-serif; */
}

aside ul li {
    padding: 5px 0px;

}
h2{
  /* font-family: 'Poppins', sans-serif; */
  color: white;
}

body,
h2 {
  overflow-x: hidden;
  margin: 0px;
  font-family: 'Roboto Mono', monospace;
}

.wrapper {
  padding: 0px 300px;
}


/* ###################################################################################################
H E A D E R
################################################################################################### */


header {
  background-color: #231f21;
}

.navegacion{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px 0px; */
  gap: 80px;
  padding-right: 20px;
  text-decoration: inherit;
}


.module-border-wrap {
  background: linear-gradient(to right, #210c0f 0%,  #eeedf2 33%, #eef1f3 66%, #534360 100%);
  padding-bottom: 6px;
}

.module-border-wrap-top {
  background: linear-gradient(to right, #210c0f 0%,  #eeedf2 33%, #eef1f3 66%, #534360 100%);
  padding-top: 6px;
}

.module {
  background: #231f21;
  color: white;
  padding: 2rem;
}

.navegacion img{
  width: 100px;
  border-radius: 100px;
}

.navegacion img:hover {
  transform: scale(1.2);
  transition: all 0.2s;
}


.navegacion a {
  font-family: 'Roboto Mono', monospace;
  font-size: large;
  font-weight: bold;
}

.navegacion ul li a:hover {
  color: #fdbdbd;
  transition: all 0.2s;
  border-bottom: #141E46;
}

/* ###################################################################################################
M A I N
################################################################################################### */

main {
  background-color: #090909;
 
}
main.content {
  background-color: #5e5e5e;
  background-image: url("../imagenes/sistemasoperativos.png");
  background-attachment: fixed;
  background-blend-mode: multiply;
  color: white;
  padding: 30px 300px;
}

main h2{
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
}


.second-header {
  color:#fdbdbd;
  text-align: center;
  text-transform: uppercase;
  font-size: large;
  margin-top: 0px;
  margin-bottom: 50px;
}

main h3{
  padding-top: 20px;
  border-top: 1px solid white;
  /* text-align: center; */
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em;
  font-weight: 200;
  text-transform: uppercase;
}

main.wrapper {
  padding: 30px 250px;
  /* padding: 0px 250px; */
}


.caja {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding-top: 50px;
}

.cajita {
  background-color: #231f21;
  text-align: center;
}

.cajita:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}
main.wrapper h2 {
  padding: 10px 0px;
  color: white;
}
.cajita a{
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}



.indice {
  background-color: #393053;
    
    padding-right: 30px;
    padding-top: 30px;
}
aside {
    position: sticky;
    top: 10px;
}
/* ###################################################################################################
F O O T E R
################################################################################################### */

footer {
  background-color: #231f21;
  text-align: center;
  /* padding: 20px 0px; */
  color: white;
  font-size: large;
  /* position: relative; */
  /* width: 100%; */
  /* bottom: 0px; */
}